[submodule "softwares/web/LMS"]
	path = softwares/web/LMS
	url = https://github.com/Jok-truong/LMS.git
[submodule "softwares/web/travel-diary"]
	path = softwares/web/travel-diary
	url = https://github.com/Jok-truong/travel-diary.git
[submodule "softwares/web/Dev-hub"]
	path = softwares/web/Dev-hub
	url = https://github.com/Jok-truong/Dev-hub.git
